$mainColor: white;

body {
  background-color: #{$mainColor};
}
.container {
  display: flex;
  width: 100vh;
  max-width: 400px;
  margin: 30px auto;
  height: 90vh;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 30px 60px;
  align-items: center;
  justify-content: center;
}
.containerBlock{
  margin-top: 15px;
  margin-bottom: 70px;
}
.question{
  font-size: 25px;
  font-weight: bold
}
.name{
  border-radius: 25px;
  background-color: orange;
  padding: 8px 12px;
}
.inputName {
  border-radius: 20px;
  width: 80%;
  padding: 8px 12px;
  margin-bottom: 30px;
  outline: none;
}
.startBtn {
  background-color: white;
  border-radius: 20px;
  font-size: 20px;
  padding: 5px 10px;
  color: white;
  background-color: cornflowerblue;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover{
    font-weight: bold;
  }
}