body {
  background-color: silver;
}
.container {
  display: flex;
  margin: 30px auto;
  flex-direction: column;
  width: 100vw;
  height: 85vh;
  max-width: 300px;
  padding: 20px;
  background-color: white;
  text-align: center;
}
.title {
  color: rgb(114, 114, 218)
}
.line {
  margin: 12px 0px;
  border : 1px dotted silver
}
.list-item{
  text-align: left;
  padding: 12px;
  margin: 10px;
  background-color: rgb(214, 237, 247);
}
